# This is a basic workflow to help you get started with Actions

name: CI-2

# Controls when the workflow will run
on:
  repository_dispatch:
    types: event-trigger-v2

  # workflow_dispatch:
  #   branches:
  #     - main
  # push:
  #   branches:
  #     - AQA-add-Some-test
  #     - test
  #     - main
  
      

  # Allows you to run this workflow manually from the Actions tab

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          

# {
#   "event_type": "event-trigger"
# }


# curl \
#   -H "Accept: application/vnd.github+json" \ 
#   -H "Authorization: Bearer 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" \
#   https://api.github.com/repos/Vlad-Hlushchenko/draft-repo/actions/runs

  # curl   -X POST   -H "Accept: application/vnd.github+json" -H "Authorization: Bearer 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" https://api.github.com/repos/Vlad-Hlushchenko/draft-repo/dispatches -d '{"event_type":"event-trigger","client_payload":{"unit":false,"integration":true}}'


  # curl -H "Accept: application/vnd.github.everest-preview+json" \
  #   -H "Authorization: token Bearer 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" \
  #   --request POST \
  #   --data '{"event_type": "event-trigger"}' \
  #   https://api.github.com/repos/Vlad-Hlushchenko/draft-repo/dispatches